#background{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: black;
    background-position: top center;
    background-size: 100%;
    background-repeat:repeat-y;
    z-index:-1;
}
#background.Krzywinski{
    background-image: url('/backgrounds/phone-Krzywinski.png');
    @media screen and (min-width: 1080px) {
        background-image: url('/backgrounds/1920-Krzywinski.png');
    }
    @media screen and (min-width: 2160px) {
        background-image: url('/backgrounds/4k-Krzywinski.png');
    }
}
#background.square{
    background-image: url('/backgrounds/phone-square.png');
    @media screen and (min-width: 1080px) {
        background-image: url('/backgrounds/1920-square.png');
    }
    @media screen and (min-width: 2160px) {
        background-image: url('/backgrounds/4k-square.png');
    }
}